/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
    padding: 10px;
}

.main-wrapper {
    display: flex;
    width: 100%;
    height: 100%;
}

.flex {
    display: flex;
    gap: 20px;
}

.flex,
.justify-center {
    justify-content: center;
}

.d-grid {
    display: grid;
}

input, select {
    width: -webkit-fill-available;
    padding: 5px;
    margin: 4px 0;
}

.error {
    padding: 8px;
    background-color: red;
    color: white;
}

table {
    border-collapse: collapse;
    width: 100%;
}

thead tr td {
    padding: 8px;
    background-color: #04AA6D;
}

tbody tr td {
    padding: 8px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

tbody tr:nth-child(odd) {
    background-color: #E7E9EB;
    color: #000;
}

thead tr td:first-child,
tbody tr td:first-child {
    border-left: 1px solid gray;
}

thead tr td:last-child,
tbody tr td:last-child {
    border-right: 1px solid gray;
}
